<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

  <context-param>
    <param-name>greenmail.portOffset</param-name>
    <param-value>10000</param-value>
  </context-param>
  <context-param>
    <param-name>greenmail.imap.host</param-name>
    <param-value>127.0.0.1</param-value>
  </context-param>
  <context-param>
    <param-name>greenmail.imap.port</param-name>
    <param-value>10143</param-value>
  </context-param>
  <context-param>
    <param-name>greenmail.smtp.host</param-name>
    <param-value>127.0.0.1</param-value>
  </context-param>
  <context-param>
    <param-name>greenmail.smtp.port</param-name>
    <param-value>10025</param-value>
  </context-param>
  <context-param>
    <param-name>greenmail.pop3.host</param-name>
    <param-value>127.0.0.1</param-value>
  </context-param>
  <context-param>
    <param-name>greenmail.pop3.port</param-name>
    <param-value>10110</param-value>
  </context-param>
  <context-param>
    <param-name>greenmail.users</param-name>
    <param-value>
      user1:password@localhost
      user2:password@localhost
      user3:password@localhost
      user4:password@localhost
      user5:password@localhost
      user6:password@localhost
      user7:password@localhost
      user8:password@localhost
      user9:password@localhost
      user10:password@localhost
      user11:password@localhost
      user12:password@localhost
      user13:password@localhost
      user14:password@localhost
      user15:password@localhost
      user16:password@localhost
      user17:password@localhost
      user18:password@localhost
      user19:password@localhost
      user20:password@localhost
      user21:password@localhost
      user22:password@localhost
      user23:password@localhost
      user24:password@localhost
      user25:password@localhost
      user26:password@localhost
      user27:password@localhost
      user28:password@localhost
      user29:password@localhost
      user30:password@localhost
      user31:password@localhost
      user32:password@localhost
      user33:password@localhost
      user34:password@localhost
      user35:password@localhost
      user36:password@localhost
      user37:password@localhost
      user38:password@localhost
      user39:password@localhost
      user40:password@localhost
      user41:password@localhost
      user42:password@localhost
      user43:password@localhost
      user44:password@localhost
      user45:password@localhost
      user46:password@localhost
      user47:password@localhost
      user48:password@localhost
      user49:password@localhost
      user50:password@localhost
      user51:password@localhost
      user52:password@localhost
      user53:password@localhost
      user54:password@localhost
      user55:password@localhost
      user56:password@localhost
      user57:password@localhost
      user58:password@localhost
      user59:password@localhost
      user60:password@localhost
      user61:password@localhost
      user62:password@localhost
      user63:password@localhost
      user64:password@localhost
      user65:password@localhost
      user66:password@localhost
      user67:password@localhost
      user68:password@localhost
      user69:password@localhost
      user70:password@localhost
      user71:password@localhost
      user72:password@localhost
      user73:password@localhost
      user74:password@localhost
      user75:password@localhost
      user76:password@localhost
      user77:password@localhost
      user78:password@localhost
      user79:password@localhost
      user80:password@localhost
      user81:password@localhost
      user82:password@localhost
      user83:password@localhost
      user84:password@localhost
      user85:password@localhost
      user86:password@localhost
      user87:password@localhost
      user88:password@localhost
      user89:password@localhost
      user90:password@localhost
      user91:password@localhost
      user92:password@localhost
      user93:password@localhost
      user94:password@localhost
      user95:password@localhost
      user96:password@localhost
      user97:password@localhost
      user98:password@localhost
      user99:password@localhost
      user100:password@localhost
      user101:password@localhost
      user102:password@localhost
      user103:password@localhost
      user104:password@localhost
      user105:password@localhost
      user106:password@localhost
      user107:password@localhost
      user108:password@localhost
      user109:password@localhost
      user110:password@localhost
      user111:password@localhost
      user112:password@localhost
      user113:password@localhost
      user114:password@localhost
      user115:password@localhost
      user116:password@localhost
      user117:password@localhost
      user118:password@localhost
      user119:password@localhost
      user120:password@localhost
      user121:password@localhost
      user122:password@localhost
      user123:password@localhost
      user124:password@localhost
      user125:password@localhost
      user126:password@localhost
      user127:password@localhost
      user128:password@localhost
      user129:password@localhost
      user130:password@localhost
      user131:password@localhost
      user132:password@localhost
      user133:password@localhost
      user134:password@localhost
      user135:password@localhost
      user136:password@localhost
      user137:password@localhost
      user138:password@localhost
      user139:password@localhost
      user140:password@localhost
      user141:password@localhost
      user142:password@localhost
      user143:password@localhost
      user144:password@localhost
      user145:password@localhost
      user146:password@localhost
      user147:password@localhost
      user148:password@localhost
      user149:password@localhost
      user150:password@localhost
      user151:password@localhost
      user152:password@localhost
      user153:password@localhost
      user154:password@localhost
      user155:password@localhost
      user156:password@localhost
      user157:password@localhost
      user158:password@localhost
      user159:password@localhost
      user160:password@localhost
      user161:password@localhost
      user162:password@localhost
      user163:password@localhost
      user164:password@localhost
      user165:password@localhost
      user166:password@localhost
      user167:password@localhost
      user168:password@localhost
      user169:password@localhost
      user170:password@localhost
      user171:password@localhost
      user172:password@localhost
      user173:password@localhost
      user174:password@localhost
      user175:password@localhost
      user176:password@localhost
      user177:password@localhost
      user178:password@localhost
      user179:password@localhost
      user180:password@localhost
      user181:password@localhost
      user182:password@localhost
      user183:password@localhost
      user184:password@localhost
      user185:password@localhost
      user186:password@localhost
      user187:password@localhost
      user188:password@localhost
      user189:password@localhost
      user190:password@localhost
      user191:password@localhost
      user192:password@localhost
      user193:password@localhost
      user194:password@localhost
      user195:password@localhost
      user196:password@localhost
      user197:password@localhost
      user198:password@localhost
      user199:password@localhost
      user200:password@localhost
      user201:password@localhost
      user202:password@localhost
      user203:password@localhost
      user204:password@localhost
      user205:password@localhost
      user206:password@localhost
      user207:password@localhost
      user208:password@localhost
      user209:password@localhost
      user210:password@localhost
      user211:password@localhost
      user212:password@localhost
      user213:password@localhost
      user214:password@localhost
      user215:password@localhost
      user216:password@localhost
      user217:password@localhost
      user218:password@localhost
      user219:password@localhost
      user220:password@localhost
      user221:password@localhost
      user222:password@localhost
      user223:password@localhost
      user224:password@localhost
      user225:password@localhost
      user226:password@localhost
      user227:password@localhost
      user228:password@localhost
      user229:password@localhost
      user230:password@localhost
      user231:password@localhost
      user232:password@localhost
      user233:password@localhost
      user234:password@localhost
      user235:password@localhost
      user236:password@localhost
      user237:password@localhost
      user238:password@localhost
      user239:password@localhost
      user240:password@localhost
      user241:password@localhost
      user242:password@localhost
      user243:password@localhost
      user244:password@localhost
      user245:password@localhost
      user246:password@localhost
      user247:password@localhost
      user248:password@localhost
      user249:password@localhost
      user250:password@localhost
      user251:password@localhost
      user252:password@localhost
      user253:password@localhost
      user254:password@localhost
      user255:password@localhost
      user256:password@localhost
      user257:password@localhost
      user258:password@localhost
      user259:password@localhost
      user260:password@localhost
      user261:password@localhost
      user262:password@localhost
      user263:password@localhost
      user264:password@localhost
      user265:password@localhost
      user266:password@localhost
      user267:password@localhost
      user268:password@localhost
      user269:password@localhost
      user270:password@localhost
      user271:password@localhost
      user272:password@localhost
      user273:password@localhost
      user274:password@localhost
      user275:password@localhost
      user276:password@localhost
      user277:password@localhost
      user278:password@localhost
      user279:password@localhost
      user280:password@localhost
      user281:password@localhost
      user282:password@localhost
      user283:password@localhost
      user284:password@localhost
      user285:password@localhost
      user286:password@localhost
      user287:password@localhost
      user288:password@localhost
      user289:password@localhost
      user290:password@localhost
      user291:password@localhost
      user292:password@localhost
      user293:password@localhost
      user294:password@localhost
      user295:password@localhost
      user296:password@localhost
      user297:password@localhost
      user298:password@localhost
      user299:password@localhost
      user300:password@localhost
      user301:password@localhost
      user302:password@localhost
      user303:password@localhost
      user304:password@localhost
      user305:password@localhost
      user306:password@localhost
      user307:password@localhost
      user308:password@localhost
      user309:password@localhost
      user310:password@localhost
      user311:password@localhost
      user312:password@localhost
      user313:password@localhost
      user314:password@localhost
      user315:password@localhost
      user316:password@localhost
      user317:password@localhost
      user318:password@localhost
      user319:password@localhost
      user320:password@localhost
      user321:password@localhost
      user322:password@localhost
      user323:password@localhost
      user324:password@localhost
      user325:password@localhost
      user326:password@localhost
      user327:password@localhost
      user328:password@localhost
      user329:password@localhost
      user330:password@localhost
      user331:password@localhost
      user332:password@localhost
      user333:password@localhost
      user334:password@localhost
      user335:password@localhost
      user336:password@localhost
      user337:password@localhost
      user338:password@localhost
      user339:password@localhost
      user340:password@localhost
      user341:password@localhost
      user342:password@localhost
      user343:password@localhost
      user344:password@localhost
      user345:password@localhost
      user346:password@localhost
      user347:password@localhost
      user348:password@localhost
      user349:password@localhost
      user350:password@localhost
      user351:password@localhost
      user352:password@localhost
      user353:password@localhost
      user354:password@localhost
      user355:password@localhost
      user356:password@localhost
      user357:password@localhost
      user358:password@localhost
      user359:password@localhost
      user360:password@localhost
      user361:password@localhost
      user362:password@localhost
      user363:password@localhost
      user364:password@localhost
      user365:password@localhost
      user366:password@localhost
      user367:password@localhost
      user368:password@localhost
      user369:password@localhost
      user370:password@localhost
      user371:password@localhost
      user372:password@localhost
      user373:password@localhost
      user374:password@localhost
      user375:password@localhost
      user376:password@localhost
      user377:password@localhost
      user378:password@localhost
      user379:password@localhost
      user380:password@localhost
      user381:password@localhost
      user382:password@localhost
      user383:password@localhost
      user384:password@localhost
      user385:password@localhost
      user386:password@localhost
      user387:password@localhost
      user388:password@localhost
      user389:password@localhost
      user390:password@localhost
      user391:password@localhost
      user392:password@localhost
      user393:password@localhost
      user394:password@localhost
      user395:password@localhost
      user396:password@localhost
      user397:password@localhost
      user398:password@localhost
      user399:password@localhost
      user400:password@localhost
      user401:password@localhost
      user402:password@localhost
      user403:password@localhost
      user404:password@localhost
      user405:password@localhost
      user406:password@localhost
      user407:password@localhost
      user408:password@localhost
      user409:password@localhost
      user410:password@localhost
      user411:password@localhost
      user412:password@localhost
      user413:password@localhost
      user414:password@localhost
      user415:password@localhost
      user416:password@localhost
      user417:password@localhost
      user418:password@localhost
      user419:password@localhost
      user420:password@localhost
      user421:password@localhost
      user422:password@localhost
      user423:password@localhost
      user424:password@localhost
      user425:password@localhost
      user426:password@localhost
      user427:password@localhost
      user428:password@localhost
      user429:password@localhost
      user430:password@localhost
      user431:password@localhost
      user432:password@localhost
      user433:password@localhost
      user434:password@localhost
      user435:password@localhost
      user436:password@localhost
      user437:password@localhost
      user438:password@localhost
      user439:password@localhost
      user440:password@localhost
      user441:password@localhost
      user442:password@localhost
      user443:password@localhost
      user444:password@localhost
      user445:password@localhost
      user446:password@localhost
      user447:password@localhost
      user448:password@localhost
      user449:password@localhost
      user450:password@localhost
      user451:password@localhost
      user452:password@localhost
      user453:password@localhost
      user454:password@localhost
      user455:password@localhost
      user456:password@localhost
      user457:password@localhost
      user458:password@localhost
      user459:password@localhost
      user460:password@localhost
      user461:password@localhost
      user462:password@localhost
      user463:password@localhost
      user464:password@localhost
      user465:password@localhost
      user466:password@localhost
      user467:password@localhost
      user468:password@localhost
      user469:password@localhost
      user470:password@localhost
      user471:password@localhost
      user472:password@localhost
      user473:password@localhost
      user474:password@localhost
      user475:password@localhost
      user476:password@localhost
      user477:password@localhost
      user478:password@localhost
      user479:password@localhost
      user480:password@localhost
      user481:password@localhost
      user482:password@localhost
      user483:password@localhost
      user484:password@localhost
      user485:password@localhost
      user486:password@localhost
      user487:password@localhost
      user488:password@localhost
      user489:password@localhost
      user490:password@localhost
      user491:password@localhost
      user492:password@localhost
      user493:password@localhost
      user494:password@localhost
      user495:password@localhost
      user496:password@localhost
      user497:password@localhost
      user498:password@localhost
      user499:password@localhost
      user500:password@localhost
      user501:password@localhost
      user502:password@localhost
      user503:password@localhost
      user504:password@localhost
      user505:password@localhost
      user506:password@localhost
      user507:password@localhost
      user508:password@localhost
      user509:password@localhost
      user510:password@localhost
      user511:password@localhost
      user512:password@localhost
      user513:password@localhost
      user514:password@localhost
      user515:password@localhost
      user516:password@localhost
      user517:password@localhost
      user518:password@localhost
      user519:password@localhost
      user520:password@localhost
      user521:password@localhost
      user522:password@localhost
      user523:password@localhost
      user524:password@localhost
      user525:password@localhost
      user526:password@localhost
      user527:password@localhost
      user528:password@localhost
      user529:password@localhost
      user530:password@localhost
      user531:password@localhost
      user532:password@localhost
      user533:password@localhost
      user534:password@localhost
      user535:password@localhost
      user536:password@localhost
      user537:password@localhost
      user538:password@localhost
      user539:password@localhost
      user540:password@localhost
      user541:password@localhost
      user542:password@localhost
      user543:password@localhost
      user544:password@localhost
      user545:password@localhost
      user546:password@localhost
      user547:password@localhost
      user548:password@localhost
      user549:password@localhost
      user550:password@localhost
      user551:password@localhost
      user552:password@localhost
      user553:password@localhost
      user554:password@localhost
      user555:password@localhost
      user556:password@localhost
      user557:password@localhost
      user558:password@localhost
      user559:password@localhost
      user560:password@localhost
      user561:password@localhost
      user562:password@localhost
      user563:password@localhost
      user564:password@localhost
      user565:password@localhost
      user566:password@localhost
      user567:password@localhost
      user568:password@localhost
      user569:password@localhost
      user570:password@localhost
      user571:password@localhost
      user572:password@localhost
      user573:password@localhost
      user574:password@localhost
      user575:password@localhost
      user576:password@localhost
      user577:password@localhost
      user578:password@localhost
      user579:password@localhost
      user580:password@localhost
      user581:password@localhost
      user582:password@localhost
      user583:password@localhost
      user584:password@localhost
      user585:password@localhost
      user586:password@localhost
      user587:password@localhost
      user588:password@localhost
      user589:password@localhost
      user590:password@localhost
      user591:password@localhost
      user592:password@localhost
      user593:password@localhost
      user594:password@localhost
      user595:password@localhost
      user596:password@localhost
      user597:password@localhost
      user598:password@localhost
      user599:password@localhost
      user600:password@localhost
      user601:password@localhost
      user602:password@localhost
      user603:password@localhost
      user604:password@localhost
      user605:password@localhost
      user606:password@localhost
      user607:password@localhost
      user608:password@localhost
      user609:password@localhost
      user610:password@localhost
      user611:password@localhost
      user612:password@localhost
      user613:password@localhost
      user614:password@localhost
      user615:password@localhost
      user616:password@localhost
      user617:password@localhost
      user618:password@localhost
      user619:password@localhost
      user620:password@localhost
      user621:password@localhost
      user622:password@localhost
      user623:password@localhost
      user624:password@localhost
      user625:password@localhost
      user626:password@localhost
      user627:password@localhost
      user628:password@localhost
      user629:password@localhost
      user630:password@localhost
      user631:password@localhost
      user632:password@localhost
      user633:password@localhost
      user634:password@localhost
      user635:password@localhost
      user636:password@localhost
      user637:password@localhost
      user638:password@localhost
      user639:password@localhost
      user640:password@localhost
      user641:password@localhost
      user642:password@localhost
      user643:password@localhost
      user644:password@localhost
      user645:password@localhost
      user646:password@localhost
      user647:password@localhost
      user648:password@localhost
      user649:password@localhost
      user650:password@localhost
      user651:password@localhost
      user652:password@localhost
      user653:password@localhost
      user654:password@localhost
      user655:password@localhost
      user656:password@localhost
      user657:password@localhost
      user658:password@localhost
      user659:password@localhost
      user660:password@localhost
      user661:password@localhost
      user662:password@localhost
      user663:password@localhost
      user664:password@localhost
      user665:password@localhost
      user666:password@localhost
      user667:password@localhost
      user668:password@localhost
      user669:password@localhost
      user670:password@localhost
      user671:password@localhost
      user672:password@localhost
      user673:password@localhost
      user674:password@localhost
      user675:password@localhost
      user676:password@localhost
      user677:password@localhost
      user678:password@localhost
      user679:password@localhost
      user680:password@localhost
      user681:password@localhost
      user682:password@localhost
      user683:password@localhost
      user684:password@localhost
      user685:password@localhost
      user686:password@localhost
      user687:password@localhost
      user688:password@localhost
      user689:password@localhost
      user690:password@localhost
      user691:password@localhost
      user692:password@localhost
      user693:password@localhost
      user694:password@localhost
      user695:password@localhost
      user696:password@localhost
      user697:password@localhost
      user698:password@localhost
      user699:password@localhost
      user700:password@localhost
      user701:password@localhost
      user702:password@localhost
      user703:password@localhost
      user704:password@localhost
      user705:password@localhost
      user706:password@localhost
      user707:password@localhost
      user708:password@localhost
      user709:password@localhost
      user710:password@localhost
      user711:password@localhost
      user712:password@localhost
      user713:password@localhost
      user714:password@localhost
      user715:password@localhost
      user716:password@localhost
      user717:password@localhost
      user718:password@localhost
      user719:password@localhost
      user720:password@localhost
      user721:password@localhost
      user722:password@localhost
      user723:password@localhost
      user724:password@localhost
      user725:password@localhost
      user726:password@localhost
      user727:password@localhost
      user728:password@localhost
      user729:password@localhost
      user730:password@localhost
      user731:password@localhost
      user732:password@localhost
      user733:password@localhost
      user734:password@localhost
      user735:password@localhost
      user736:password@localhost
      user737:password@localhost
      user738:password@localhost
      user739:password@localhost
      user740:password@localhost
      user741:password@localhost
      user742:password@localhost
      user743:password@localhost
      user744:password@localhost
      user745:password@localhost
      user746:password@localhost
      user747:password@localhost
      user748:password@localhost
      user749:password@localhost
      user750:password@localhost
      user751:password@localhost
      user752:password@localhost
      user753:password@localhost
      user754:password@localhost
      user755:password@localhost
      user756:password@localhost
      user757:password@localhost
      user758:password@localhost
      user759:password@localhost
      user760:password@localhost
      user761:password@localhost
      user762:password@localhost
      user763:password@localhost
      user764:password@localhost
      user765:password@localhost
      user766:password@localhost
      user767:password@localhost
      user768:password@localhost
      user769:password@localhost
      user770:password@localhost
      user771:password@localhost
      user772:password@localhost
      user773:password@localhost
      user774:password@localhost
      user775:password@localhost
      user776:password@localhost
      user777:password@localhost
      user778:password@localhost
      user779:password@localhost
      user780:password@localhost
      user781:password@localhost
      user782:password@localhost
      user783:password@localhost
      user784:password@localhost
      user785:password@localhost
      user786:password@localhost
      user787:password@localhost
      user788:password@localhost
      user789:password@localhost
      user790:password@localhost
      user791:password@localhost
      user792:password@localhost
      user793:password@localhost
      user794:password@localhost
      user795:password@localhost
      user796:password@localhost
      user797:password@localhost
      user798:password@localhost
      user799:password@localhost
      user800:password@localhost
      user801:password@localhost
      user802:password@localhost
      user803:password@localhost
      user804:password@localhost
      user805:password@localhost
      user806:password@localhost
      user807:password@localhost
      user808:password@localhost
      user809:password@localhost
      user810:password@localhost
      user811:password@localhost
      user812:password@localhost
      user813:password@localhost
      user814:password@localhost
      user815:password@localhost
      user816:password@localhost
      user817:password@localhost
      user818:password@localhost
      user819:password@localhost
      user820:password@localhost
      user821:password@localhost
      user822:password@localhost
      user823:password@localhost
      user824:password@localhost
      user825:password@localhost
      user826:password@localhost
      user827:password@localhost
      user828:password@localhost
      user829:password@localhost
      user830:password@localhost
      user831:password@localhost
      user832:password@localhost
      user833:password@localhost
      user834:password@localhost
      user835:password@localhost
      user836:password@localhost
      user837:password@localhost
      user838:password@localhost
      user839:password@localhost
      user840:password@localhost
      user841:password@localhost
      user842:password@localhost
      user843:password@localhost
      user844:password@localhost
      user845:password@localhost
      user846:password@localhost
      user847:password@localhost
      user848:password@localhost
      user849:password@localhost
      user850:password@localhost
      user851:password@localhost
      user852:password@localhost
      user853:password@localhost
      user854:password@localhost
      user855:password@localhost
      user856:password@localhost
      user857:password@localhost
      user858:password@localhost
      user859:password@localhost
      user860:password@localhost
      user861:password@localhost
      user862:password@localhost
      user863:password@localhost
      user864:password@localhost
      user865:password@localhost
      user866:password@localhost
      user867:password@localhost
      user868:password@localhost
      user869:password@localhost
      user870:password@localhost
      user871:password@localhost
      user872:password@localhost
      user873:password@localhost
      user874:password@localhost
      user875:password@localhost
      user876:password@localhost
      user877:password@localhost
      user878:password@localhost
      user879:password@localhost
      user880:password@localhost
      user881:password@localhost
      user882:password@localhost
      user883:password@localhost
      user884:password@localhost
      user885:password@localhost
      user886:password@localhost
      user887:password@localhost
      user888:password@localhost
      user889:password@localhost
      user890:password@localhost
      user891:password@localhost
      user892:password@localhost
      user893:password@localhost
      user894:password@localhost
      user895:password@localhost
      user896:password@localhost
      user897:password@localhost
      user898:password@localhost
      user899:password@localhost
      user900:password@localhost
      user901:password@localhost
      user902:password@localhost
      user903:password@localhost
      user904:password@localhost
      user905:password@localhost
      user906:password@localhost
      user907:password@localhost
      user908:password@localhost
      user909:password@localhost
      user910:password@localhost
      user911:password@localhost
      user912:password@localhost
      user913:password@localhost
      user914:password@localhost
      user915:password@localhost
      user916:password@localhost
      user917:password@localhost
      user918:password@localhost
      user919:password@localhost
      user920:password@localhost
      user921:password@localhost
      user922:password@localhost
      user923:password@localhost
      user924:password@localhost
      user925:password@localhost
      user926:password@localhost
      user927:password@localhost
      user928:password@localhost
      user929:password@localhost
      user930:password@localhost
      user931:password@localhost
      user932:password@localhost
      user933:password@localhost
      user934:password@localhost
      user935:password@localhost
      user936:password@localhost
      user937:password@localhost
      user938:password@localhost
      user939:password@localhost
      user940:password@localhost
      user941:password@localhost
      user942:password@localhost
      user943:password@localhost
      user944:password@localhost
      user945:password@localhost
      user946:password@localhost
      user947:password@localhost
      user948:password@localhost
      user949:password@localhost
      user950:password@localhost
      user951:password@localhost
      user952:password@localhost
      user953:password@localhost
      user954:password@localhost
      user955:password@localhost
      user956:password@localhost
      user957:password@localhost
      user958:password@localhost
      user959:password@localhost
      user960:password@localhost
      user961:password@localhost
      user962:password@localhost
      user963:password@localhost
      user964:password@localhost
      user965:password@localhost
      user966:password@localhost
      user967:password@localhost
      user968:password@localhost
      user969:password@localhost
      user970:password@localhost
      user971:password@localhost
      user972:password@localhost
      user973:password@localhost
      user974:password@localhost
      user975:password@localhost
      user976:password@localhost
      user977:password@localhost
      user978:password@localhost
      user979:password@localhost
      user980:password@localhost
      user981:password@localhost
      user982:password@localhost
      user983:password@localhost
      user984:password@localhost
      user985:password@localhost
      user986:password@localhost
      user987:password@localhost
      user988:password@localhost
      user989:password@localhost
      user990:password@localhost
      user991:password@localhost
      user992:password@localhost
      user993:password@localhost
      user994:password@localhost
      user995:password@localhost
      user996:password@localhost
      user997:password@localhost
      user998:password@localhost
      user999:password@localhost
      user1000:password@localhost
    </param-value>
  </context-param>

  <listener>
    <description>GreenMail Server Startup Listener</description>
    <listener-class>com.icegreen.greenmail.webapp.GreenMailListener</listener-class>
  </listener>
</web-app>
