// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

$body-background-color: #FFF !default;
$primary-color: #8B1B89 !default;
$secondary-color: #ffffff !default;
$text-color: #333333 !default;
$table-stripe-color: lighten($primary-color, 66%) !default;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

body {
    font-size: 14px;
}

th {
    white-space: nowrap;
}
